<footer class="footer">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-4">
                <div class="footer_logo">
                    <a class="navbar-brand navbar_image" href="{% link accueil.html %}">
                        <img src="./assets/img/logo.png" alt="Logo" class="footer_logo-img">
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer_content">
                    <h3 class="footer_content-title">Liens utiles</h3>
                    <ul class="footer_content-ul">
                        <li class="footer_content-li">
                            <a href="{% link accueil.html %}" class="footer_content-li--link">Accueil</a>
                        </li>
                        <li class="footer_content-li">
                            <a href="{% link quiSommesNous.html %}" class="footer_content-li--link">Notre entreprise</a>
                        </li>
                        <li class="footer_content-li">
                            <a href="" class="footer_content-li--link">Nos services</a>
                        </li>
                        <li class="footer_content-li">
                            <a href="{% link nos-realisations.html  %}" class="footer_content-li--link">Nos réalisations</a>
                        </li>
                        <li class="footer_content-li">
                            <a href="" class="footer_content-li--link">Zone d’intervention</a>
                        </li>
                        <li class="footer_content-li">
                            <a href="{% link devis.html  %}" class="footer_content-li--link">Contact & Devis</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer_content">
                    <h3 class="footer_content-title">Coordonnées</h3>
                    <ul class="footer_content-ul">
                        <li class="footer_content-li">
                            Service administratif<br>
                            <a href="tel:{{site.data.company.phones[0]}}" class="footer_content-li--link">{{site.data.company.phones[0]}}</a>
                        </li>
                        <li class="footer_content-li">
                            Service technique<br>
                            <a href="tel:{{site.data.company.phones[1]}}" class="footer_content-li--link">{{site.data.company.phones[1]}}</a>
                        </li>
                        <li class="footer_content-li">
                            <a href="mailto:{{site.data.company.email}}" class="footer_content-li--link">{{site.data.company.email}}</a>
                        </li>
                        <!-- <li class="footer_content-li">
                            <a href="" class="footer_content-li--link">{{site.data.company.address}}</a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="https://apps.elfsight.com/p/platform.js" defer></script>
<script src="../assets/js/index.js"></script>